.general div {
    display: inline-block;
    margin: 10px;
}

.review .ratings .item {
    display: inline-block;
    margin: 10px;
}

.pagination{
    display: inline-block;
    list-style-type: none;
}

.pagination li {
    display: inline-block;
}

ul.pagination a {
    display: inline-block;
    vertical-align: top;
    margin: 8px;
    border: 1px solid grey;
    padding: 8px;
    cursor: pointer;
}

.pagination li.active a {
    border: 2px solid black;
}